@use "@/assets/styles/base/variables" as *;
@use "@/assets/styles/base/mixins" as *;

.heroWrapper {
  height: 300px;
  padding: 20px 0 80px;
  background-image: url("/images/hero.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.pretitle {
  margin-bottom: 40px;
  font-size: 12px;
  line-height: 20px;
  color: $grey;
}

.title {
  margin-bottom: 20px;
  color: $white;
  font-size: 60px;
  text-transform: uppercase;
  line-height: 120%;
  letter-spacing: 0.6px;
  font-family: "Oswald", sans-serif;
}

.subtitle {
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  text-transform: uppercase;
  color: $white;
}

@include mobile {
  .heroWrapper {
    padding: 20px 0 30px;
    background-image: url("/images/hero-mob.png");
  }
  .title {
    font-size: 36px;
    max-width: 310px;
  }
  .pretitle {
    margin-bottom: 90px;
  }
  .subtitle {
    font-size: 18px;
    line-height: 28px;
  }
}
