@use "@/assets/styles/base/variables" as *;
@use "@/assets/styles/base/mixins" as *;

:global(.react-datepicker__header__dropdown) {
  .dropdown:nth-child(1) .toggle {
    min-width: 170px;
  }

  .dropdown:nth-child(2) .toggle {
    min-width: 134px;
  }
}

.dropdown {
  position: relative;
}
.toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
  border: 1px solid $grey;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 600;
  font-family: "Lato", sans-serif;
  text-transform: capitalize;
  cursor: pointer;
  transition: all 0.2s ease;
  background-color: $white;
  &:hover,
  &:focus,
  &.active {
    border: 1px solid $electric;
    color: $electric;
    outline: none;
  }
}
.menu {
  padding: 16px 0;
  margin-top: 8px;
  max-height: 200px;
  width: 100%;
  overflow-y: auto;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 10;
  background: $white;
  border: 1px solid $grey;
  border-radius: 10px;
  text-align: left;
  list-style: none;
}
.item {
  padding: 2px 24px;
  font-size: 18px;
  font-weight: 500;
  text-transform: capitalize;
  transition: all 0.2s ease;
  cursor: pointer;
  &:not(:last-of-type) {
    margin-bottom: 4px;
  }
  &:hover {
    background-color: $electric;
    color: $white;
  }
}
